In [0]:
from google.colab import drive
drive.mount('/content/drive')
!ls "/content/drive/My Drive/DMC"
%cd /content/drive/My\ Drive/DMC

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
 abraca-data.csv		   Merge_bundles.ipynb
'DMC .gdoc'			   orders0206_test.csv
 DMC.ipynb			   orders0206_train.csv
'DMC presentation 05 12.gslides'   rules_0.00001.csv
 ex_items.csv			   rules_0.00002.csv
 frequent_0.00001.csv		   rules_0.00003.csv
 infos.csv			   XGBoost.ipynb
 items.csv			  'XGBoost variations.ipynb'
/content/drive/My Drive/DMC

In [0]:
import pandas as pd

In [0]:
df_rules = pd.read_csv('rules_0.00001.csv', sep=',')

### General code for merge bundles
df_rules = pd.read_csv('rules_0.00001.csv', sep=',')
df_rules['antecedents']= df_rules['antecedents'].str.replace('frozenset\({|}\)','')
df_rules['consequents'] = df_rules['consequents'].str.replace('frozenset\({|}\)','')
df_rules['itemID'] = df_rules['antecedents']
train['itemID'] = (train['itemID']).astype('str')
trainnew = pd.merge(train, df_rules, on='itemID', how='left')
train['bundles'] = pd.notna(trainnew['support'])
train['free_bundles'] = pd.notna(trainnew['support'])[trainnew['salesPrice'] == 0 ]
train['free_bundles'] = train['free_bundles'].fillna(False)
train['itemID'] = (train['itemID']).astype('int')

In [0]:
df_rules.head()

         antecedents        consequents  ...  leverage  conviction
0  frozenset({4311})  frozenset({4310})  ...  0.005680   12.300056
1  frozenset({4310})  frozenset({4311})  ...  0.005680    7.979447
2  frozenset({4926})  frozenset({4918})  ...  0.005205    4.197860
3  frozenset({4918})  frozenset({4926})  ...  0.005205   37.242413
4  frozenset({4928})  frozenset({5041})  ...  0.004811    2.914237

[5 rows x 9 columns]

In [0]:
df_train = pd.read_csv('orders0206_train.csv', sep='|', parse_dates=['time'])
#df_test = pd.read_csv('orders_split/orders0206_test.csv', sep='|', parse_dates=['time'])
df_info = pd.read_csv('infos.csv', sep='|', index_col='itemID')
df_items = pd.read_csv('items.csv', sep='|', index_col='itemID')
product_prices = df_info['simulationPrice'].to_dict()

df_train_joined = df_train.join(df_info, on='itemID').join(df_items, on='itemID')

In [0]:
df_rules['antecedents']= df_rules['antecedents'].str.replace('frozenset\({|}\)','')
df_rules['consequents'] = df_rules['consequents'].str.replace('frozenset\({|}\)','')

In [0]:
df_rules.head()

  antecedents consequents  antecedent support  ...  leverage  conviction  itemID
0        4311        4310            0.006223  ...  0.005680   12.300056    4311
1        4310        4311            0.006534  ...  0.005680    7.979447    4310
2        4926        4918            0.006869  ...  0.005205    4.197860    4926
3        4918        4926            0.005385  ...  0.005205   37.242413    4918
4        4928        5041            0.007372  ...  0.004811    2.914237    4928

[5 rows x 10 columns]

In [0]:
df_rules['itemID'] = df_rules['antecedents']

In [0]:
df_train_joined['itemID'] = (df_train_joined['itemID']).astype('str')

In [0]:
df_train_joined_new = pd.merge(df_train_joined, df_rules, on='itemID', how='left')
df_train_joined_new['bundles'] = pd.notna(df_train_joined_new['support'])

In [0]:
df_train_joined['itemID'] = (df_train_joined['itemID']).astype('int')

In [0]:
df_train_joined_new.head()

                 time  transactID itemID  ...  leverage  conviction  bundles
0 2018-01-01 00:01:56     2278968    450  ...       NaN         NaN    False
1 2018-01-01 00:01:56     2278968     83  ...  0.000119    1.099763     True
2 2018-01-01 00:01:56     2278968     83  ...  0.000119    1.099789     True
3 2018-01-01 00:07:11     2255797   7851  ...  0.000190    1.179980     True
4 2018-01-01 00:07:11     2255797   7851  ...  0.000161    1.149084     True

[5 rows x 24 columns]

In [0]:
df_train_joined_new['free_bundles'] = pd.notna(df_train_joined_new['support'])[df_train_joined_new['salesPrice'] == 0 ]
df_train_joined_new['free_bundles'] = df_train_joined_new['free_bundles'].fillna(False)

In [0]:
df_train_joined_new['free_bundles'][df_train_joined_new['free_bundles']] ## Recheck

984895      True
984896      True
984897      True
984898      True
3545064     True
            ...
9304341     True
10098680    True
10098681    True
10106561    True
10106562    True
Name: free_bundles, Length: 806, dtype: bool