In [219]:
import math
import datetime
import pandas as pd
import numpy as np
import time
from statistics import median, stdev
from scipy.stats import iqr

from sklearn.neighbors import LocalOutlierFactor
from sklearn.preprocessing import OrdinalEncoder

import timeit
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
data_path = '../data/'
items = pd.read_csv('{}items.csv'.format(data_path), sep='|')
infos = pd.read_csv('{}infos.csv'.format(data_path), sep='|')
orders = pd.read_csv('{}orders0206_train.csv'.format(data_path), sep='|')

In [4]:
orders['daytime'] = pd.to_datetime(orders["time"])

# Date
orders["date"] = pd.DatetimeIndex(orders['daytime']).date

In [5]:
orders.head()

,time,transactID,itemID,order,salesPrice,daytime,date
0,2018-01-01 00:01:56,2278968,450,1,17.42,2018-01-01 00:01:56,2018-01-01
1,2018-01-01 00:01:56,2278968,83,1,5.19,2018-01-01 00:01:56,2018-01-01
2,2018-01-01 00:07:11,2255797,7851,2,20.47,2018-01-01 00:07:11,2018-01-01
3,2018-01-01 00:09:24,2278968,450,1,17.42,2018-01-01 00:09:24,2018-01-01
4,2018-01-01 00:09:24,2278968,83,1,5.19,2018-01-01 00:09:24,2018-01-01

In [180]:
aggregated_orders = orders.groupby(['itemID', 'date']).agg(total_orders=pd.NamedAgg(column='order', aggfunc=sum)).reset_index()

In [181]:
aggregated_orders.head()

   itemID        date  total_orders
0       1  2018-01-23             1
1       1  2018-01-25             1
2       1  2018-01-29           307
3       1  2018-01-30             3
4       1  2018-01-31             1

In [130]:
# add 0 sales for missing dates per itemID
for prod in aggregated_orders.itemID.unique():
    s = aggregated_orders.loc[aggregated_orders['itemID'] == prod][["date","total_orders"]]
    s = s.set_index("date")
    idx = pd.date_range(s.index.min(), 
                        datetime.date(2018, 6, 1))
    s.index = pd.DatetimeIndex(s.index)
    s = s.reindex(idx, fill_value=0)
    if "df_timeseries" not in globals():
        s["itemID"] = prod
        df_timeseries = s
    else:
        s["itemID"] = prod
        df_timeseries = pd.concat([df_timeseries,s], ignore_index=False)

In [131]:
df_timeseries['date'] = df_timeseries.index
df_timeseries.reset_index(inplace=True)
df_timeseries.drop('index', inplace=True, axis=1)

In [183]:
df_timeseries = aggregated_orders

In [184]:
unique_itemIDs = list(df_timeseries['itemID'].unique())

In [185]:
daily_orders = {itemID: list(df_timeseries.loc[df_timeseries['itemID'] == itemID]['total_orders']) for itemID in unique_itemIDs}

In [186]:
days = {itemID: list(df_timeseries.loc[df_timeseries['itemID'] == itemID]['date']) for itemID in unique_itemIDs}

In [187]:
daily_orders_item = pd.DataFrame({'itemID': list(daily_orders.keys()), 'list_daily_orders': list(daily_orders.values()), 'list_ordering_days': list(days.values())})

In [188]:
daily_orders_item.head()

,itemID,list_daily_orders,list_ordering_days
0,1,"[1, 1, 307, 3, 1, 2, 1, 1, 1, 27, 3, 2, 1, 1, ...","[2018-01-23, 2018-01-25, 2018-01-29, 2018-01-3..."
1,2,"[1, 1, 1, 2]","[2018-02-24, 2018-02-26, 2018-05-27, 2018-05-29]"
2,3,"[1, 89, 2, 1, 1, 1, 1, 90, 1, 1, 2]","[2018-01-10, 2018-01-18, 2018-01-19, 2018-01-2..."
3,4,"[1, 1, 2, 42, 1, 1, 4, 1]","[2018-01-18, 2018-02-28, 2018-04-08, 2018-04-2..."
4,5,"[1, 1, 1, 1, 124, 2, 1, 4, 39, 2, 1]","[2018-01-06, 2018-01-07, 2018-01-21, 2018-02-1..."

In [205]:
all_orders = [order for index, row in daily_orders_item.iterrows() for order in row['list_daily_orders']]

In [190]:
def identify_outliers(item):
    clf = LocalOutlierFactor()
    return clf.fit_predict(np.asarray(item['list_daily_orders']).reshape(-1, 1))

In [217]:
clf = LocalOutlierFactor(n_neighbors=50)
predictions = clf.fit_predict(np.asarray(all_orders).reshape(-1, 1))

In [222]:
unique, counts = np.unique(predictions, return_counts=True)
dict(zip(unique, counts))

{-1: 791, 1: 76293}

In [ ]:
daily_orders_item['is_promotion'] = daily_orders_item.apply(lambda row: identify_outliers(row), axis=1)

In [48]:
daily_orders_item['median'] = daily_orders_item.apply(lambda row: median(row['list_daily_orders']), axis=1)

In [49]:
daily_orders_item['iqr_90'] = daily_orders_item.apply(lambda row: iqr(row['list_daily_orders'], rng=(25,90)), axis=1)
daily_orders_item['upper_bound_90'] = daily_orders_item.apply(lambda row: row['median'] + 2 * row['iqr_90'], axis=1)

daily_orders_item['iqr_75'] = daily_orders_item.apply(lambda row: iqr(row['list_daily_orders'], rng=(25,75)), axis=1)
daily_orders_item['upper_bound_75'] = daily_orders_item.apply(lambda row: row['median'] + 2 * row['iqr_75'], axis=1)

In [53]:
daily_orders_item['iqr_75'] = daily_orders_item.apply(lambda row: iqr(row['list_daily_orders'], rng=(25,75)), axis=1)
daily_orders_item['upper_bound_75'] = daily_orders_item.apply(lambda row: row['median'] + 4 * row['iqr_75'], axis=1)

In [51]:
daily_orders_item['iqr_90_'] = daily_orders_item.apply(lambda row: iqr(row['list_daily_orders'], rng=(25,90)), axis=1)
daily_orders_item['upper_bound_90_'] = daily_orders_item.apply(lambda row: row['median'] + 1.5 * row['iqr_90_'], axis=1)

In [59]:
daily_orders_item['std'] = daily_orders_item.apply(lambda row: stdev(row['list_daily_orders']) if len(row['list_daily_orders']) > 1 else 0, axis=1)

In [ ]:
daily_orders_item.drop('iqr_90 upper_bound_90'.split(), inplace=True, axis=1)

In [66]:
daily_orders_item['upper_bound'] = daily_orders_item.apply(lambda row: row['upper_bound_90_'] if row['upper_bound_90_'] <= max(row['list_daily_orders']) else row['upper_bound_75'] if row['std'] > 10 else np.nan, axis=1)

In [67]:
daily_orders_item.head(100)

,itemID,list_daily_orders,list_ordering_days,median,iqr_75,upper_bound_75,iqr_90_,upper_bound_90_,std,upper_bound
0,1,"[1, 1, 307, 3, 1, 2, 1, 1, 1, 27, 3, 2, 1, 1, ...","[2018-01-23, 2018-01-25, 2018-01-29, 2018-01-3...",1.0,1.00,5.0,26.60,40.900,76.984868,40.900
1,2,"[1, 1, 1, 2]","[2018-02-24, 2018-02-26, 2018-05-27, 2018-05-29]",1.0,0.25,2.0,0.70,2.050,0.500000,NaN
2,3,"[1, 89, 2, 1, 1, 1, 1, 90, 1, 1, 2]","[2018-01-10, 2018-01-18, 2018-01-19, 2018-01-2...",1.0,1.00,5.0,88.00,133.000,35.712997,5.000
3,4,"[1, 1, 2, 42, 1, 1, 4, 1]","[2018-01-18, 2018-02-28, 2018-04-08, 2018-04-2...",1.0,1.50,7.0,14.40,22.600,14.332157,22.600
4,5,"[1, 1, 1, 1, 124, 2, 1, 4, 39, 2, 1]","[2018-01-06, 2018-01-07, 2018-01-21, 2018-02-1...",1.0,2.00,9.0,38.00,58.000,37.521872,58.000
5,6,"[1, 1, 178, 1, 2, 3, 2, 81]","[2018-02-14, 2018-04-22, 2018-05-11, 2018-05-1...",2.0,21.50,88.0,109.10,165.650,64.608574,165.650
6,7,[1],[2018-02-04],1.0,0.00,1.0,0.00,1.000,0.000000,1.000
7,8,"[1, 1, 1, 99, 1, 24, 2, 1, 93]","[2018-01-18, 2018-01-21, 2018-02-15, 2018-03-2...",1.0,23.00,93.0,93.20,140.800,41.093728,93.000
8,9,"[1, 1, 1, 1, 6]","[2018-01-01, 2018-01-12, 2018-02-03, 2018-02-1...",1.0,0.00,1.0,3.00,5.500,2.236068,5.500
9,10,"[1, 355, 1, 1, 1, 1, 60, 1, 1, 1, 1, 3, 1, 1, 1]","[2018-02-15, 2018-02-19, 2018-02-21, 2018-02-2...",1.0,0.00,1.0,36.20,55.300,91.542080,55.300
10,11,"[1, 2, 2, 1, 1, 1, 1, 1, 1, 3, 1, 2, 2, 1, 206...","[2018-01-01, 2018-01-11, 2018-01-15, 2018-01-1...",1.0,1.00,5.0,1.00,2.500,37.998671,2.500
11,12,"[1, 1, 1, 1, 1, 1, 1, 128, 1, 3, 1]","[2018-01-03, 2018-04-05, 2018-04-07, 2018-04-1...",1.0,0.00,1.0,2.00,4.000,38.236346,4.000
12,13,"[1, 319, 1, 1, 2, 5, 1, 1, 18]","[2018-02-03, 2018-02-19, 2018-02-21, 2018-02-2...",1.0,4.00,17.0,77.20,116.800,105.229247,116.800
13,14,"[1, 1, 1, 1]","[2018-01-16, 2018-01-21, 2018-02-17, 2018-03-23]",1.0,0.00,1.0,0.00,1.000,0.000000,1.000
14,15,"[8, 1, 7, 1, 15, 7, 1, 6, 3, 3, 1, 3]","[2018-01-04, 2018-01-19, 2018-01-27, 2018-01-3...",3.0,6.00,27.0,6.90,13.350,4.185111,13.350
15,16,"[1, 1, 8, 9, 5, 1, 1, 1]","[2018-01-17, 2018-01-18, 2018-01-23, 2018-02-0...",1.0,4.75,20.0,7.30,11.950,3.461523,NaN
16,17,"[2, 1, 1, 1, 1, 1, 1, 1, 180, 2, 1, 2, 1, 1, 1...","[2018-01-15, 2018-01-19, 2018-01-23, 2018-01-2...",1.0,0.00,1.0,1.00,2.500,43.370158,2.500
17,18,"[3, 1, 3, 1, 1, 1, 1, 377, 1, 1, 1, 1, 1, 1, 1...","[2018-01-07, 2018-01-09, 2018-01-11, 2018-01-1...",1.0,0.00,1.0,1.00,2.500,60.970949,2.500
18,19,"[2, 1, 1, 1, 80, 19, 1, 1, 80, 1, 25, 1, 1, 1,...","[2018-01-01, 2018-02-08, 2018-02-12, 2018-02-1...",1.0,5.25,22.0,51.50,78.250,26.874709,78.250
19,20,[4],[2018-01-03],4.0,0.00,4.0,0.00,4.000,0.000000,4.000
20,21,"[1, 1, 1, 1, 1, 1]","[2018-02-09, 2018-03-21, 2018-03-22, 2018-04-2...",1.0,0.00,1.0,0.00,1.000,0.000000,1.000
21,22,"[1, 2, 44, 1, 1, 1]","[2018-01-25, 2018-02-17, 2018-03-20, 2018-03-2...",1.0,0.75,4.0,22.00,34.000,17.477605,34.000
22,23,"[1, 1, 1, 3, 1, 1, 32, 1, 1, 1, 1, 1, 11, 1, 1...","[2018-01-09, 2018-01-10, 2018-01-12, 2018-01-1...",1.0,0.00,1.0,1.60,3.400,6.689913,3.400
23,24,"[1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1]","[2018-01-03, 2018-01-11, 2018-01-13, 2018-01-1...",1.0,0.00,1.0,0.80,2.200,0.375534,NaN
24,25,"[1, 1, 50, 2, 1, 1, 1, 1, 1, 1, 1]","[2018-01-15, 2018-01-16, 2018-01-27, 2018-02-0...",1.0,0.00,1.0,1.00,2.500,14.746957,2.500
25,26,"[109, 1, 1, 1, 1, 1, 30, 1, 1, 1, 1, 1]","[2018-01-01, 2018-01-02, 2018-01-06, 2018-01-0...",1.0,0.00,1.0,26.10,40.150,31.537736,40.150
26,27,"[250, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1...","[2018-01-18, 2018-01-20, 2018-01-21, 2018-01-2...",1.0,1.00,5.0,3.40,6.100,49.990399,6.100
27,28,"[1, 193, 1, 1, 1, 1]","[2018-04-15, 2018-04-17, 2018-04-20, 2018-04-2...",1.0,0.00,1.0,96.00,145.000,78.383672,145.000
28,29,"[1, 1, 1, 1, 1, 157, 1, 1, 1, 1, 24, 1, 1, 1, ...","[2018-01-08, 2018-01-11, 2018-01-13, 2018-01-2...",1.0,0.00,1.0,3.20,5.800,34.978189,5.800
29,30,"[1, 1, 2, 2, 1, 2]","[2018-01-19, 2018-02-19, 2018-02-23, 2018-04-1...",1.5,1.00,5.5,1.00,3.000,0.547723,NaN
30,31,"[1, 1, 237, 1, 3, 1, 1, 1, 1, 1, 78, 1, 1, 95,...","[2018-01-16, 2018-01-18, 2018-01-29, 2018-02-0...",1.0,1.00,5.0,98.40,148.600,62.099571,148.600
31,32,"[1, 1, 300, 1, 1, 2, 26, 3, 1, 1, 1, 1, 1, 299]","[2018-01-11, 2018-01-16, 2018-01-29, 2018-01-3...",1.0,1.75,8.0,216.10,325.150,107.750857,8.000
32,33,[1],[2018-04-03],1.0,0.00,1.0,0.00,1.000,0.000000,1.000
33,34,"[45, 27, 1, 15, 1, 23]","[2018-03-15, 2018-04-07, 2018-04-20, 2018-04-2...",19.0,21.50,105.0,31.50,66.250,16.848343,105.000
34,35,"[446, 100, 4, 1, 43, 1, 74, 1, 50, 3, 1, 1, 59...","[2018-01-01, 2018-01-02, 2018-01-05, 2018-01-0...",1.0,3.50,15.0,48.60,73.900,94.698466,73.900
35,36,"[3, 14, 8, 2]","[2018-01-13, 2018-03-04, 2018-05-12, 2018-05-19]",5.5,6.75,32.5,9.45,19.675,5.500000,NaN
36,37,"[1, 1, 260, 2, 7, 149, 1, 137]","[2018-01-10, 2018-01-28, 2018-01-29, 2018-02-2...",4.5,139.00,560.5,181.30,276.450,99.789421,560.500
37,38,"[1, 1, 1, 160, 1, 1, 1, 1, 1, 45, 1, 1, 1, 1, ...","[2018-01-05, 2018-01-08, 2018-01-17, 2018-01-1...",1.0,0.75,4.0,14.00,22.000,31.963080,22.000
38,39,"[1, 1, 1, 1, 31, 1, 1, 1, 1, 2, 1, 1, 1, 13]","[2018-02-05, 2018-02-21, 2018-03-04, 2018-03-1...",1.0,0.00,1.0,8.70,14.050,8.380052,14.050
39,40,"[9, 5, 21, 6, 19, 3, 5, 8, 5, 5]","[2018-01-04, 2018-01-08, 2018-02-11, 2018-02-1...",5.5,3.75,20.5,14.20,26.800,6.257440,NaN
40,41,"[11, 1, 6, 1, 45, 1, 10, 7]","[2018-01-07, 2018-01-24, 2018-02-04, 2018-03-1...",6.5,9.25,43.5,20.20,36.800,14.606750,36.800
41,42,"[1, 1, 1, 2, 1, 3, 1, 1, 1, 1, 2, 1, 1, 1]","[2018-01-08, 2018-01-10, 2018-01-11, 2018-01-2...",1.0,0.00,1.0,1.00,2.500,0.611250,2.500
42,43,"[1, 1, 2, 2, 2]","[2018-01-04, 2018-01-07, 2018-01-08, 2018-01-2...",2.0,1.00,6.0,1.00,3.500,0.547723,NaN
43,44,"[1, 102, 25, 1, 87, 2, 1, 1, 1, 1]","[2018-01-25, 2018-02-19, 2018-03-15, 2018-03-1...",1.0,18.25,74.0,87.50,132.250,38.986607,74.000
44,45,"[20, 1]","[2018-03-08, 2018-04-05]",10.5,9.50,48.5,12.35,29.025,13.435029,48.500
45,47,"[1, 17, 3, 1, 9, 5, 1, 1]","[2018-01-02, 2018-01-05, 2018-01-18, 2018-02-0...",2.0,5.00,22.0,10.40,17.600,5.700877,NaN
46,49,"[403, 86, 1, 1, 1, 2, 1, 53, 91, 1, 2, 1, 2, 5...","[2018-01-12, 2018-01-13, 2018-01-14, 2018-01-1...",1.0,1.00,5.0,78.40,118.600,85.757702,118.600
47,50,"[1, 15, 1, 1, 1, 1, 6, 1, 1, 1, 1, 1]","[2018-01-09, 2018-01-15, 2018-01-16, 2018-01-2...",1.0,0.00,1.0,4.50,7.750,4.166061,7.750
48,51,"[184, 1]","[2018-02-19, 2018-04-25]",92.5,91.50,458.5,118.95,270.925,129.400541,458.500
49,52,"[365, 2, 1, 1, 1, 3, 1, 1, 2, 1, 1, 2, 1, 1, 1...","[2018-01-01, 2018-01-02, 2018-01-14, 2018-01-1...",1.0,1.00,5.0,13.60,21.400,100.796850,21.400
50,53,"[1, 1, 162, 1, 1, 1, 1, 1]","[2018-02-27, 2018-03-15, 2018-03-23, 2018-04-0...",1.0,0.00,1.0,48.30,73.450,56.922096,73.450
51,54,"[315, 1, 1, 1, 1, 7, 3, 1, 5, 1]","[2018-02-19, 2018-02-21, 2018-02-22, 2018-02-2...",1.0,3.50,15.0,36.80,56.200,98.896354,56.200
52,55,"[1, 1, 292, 5, 1, 1, 12, 7]","[2018-01-14, 2018-01-17, 2018-02-19, 2018-02-2...",3.0,7.25,32.0,95.00,145.500,101.900512,145.500
53,56,"[239, 1, 1, 84, 1, 1, 1]","[2018-02-17, 2018-02-22, 2018-03-08, 2018-03-2...",1.0,41.50,167.0,145.00,218.500,90.196875,218.500
54,57,"[15, 1, 42, 5, 14, 6, 8, 2]","[2018-01-25, 2018-02-04, 2018-02-11, 2018-02-2...",7.0,10.00,47.0,18.85,35.275,13.276591,35.275
55,59,"[1, 6, 3, 3]","[2018-01-25, 2018-03-17, 2018-04-10, 2018-05-03]",3.0,1.25,8.0,2.60,6.900,2.061553,NaN
56,60,"[6, 1, 8, 1, 38, 10, 9]","[2018-01-12, 2018-01-23, 2018-02-05, 2018-03-0...",8.0,6.00,32.0,17.70,34.550,12.686701,34.550
57,61,"[1, 1]","[2018-01-29, 2018-05-13]",1.0,0.00,1.0,0.00,1.000,0.000000,1.000
58,62,"[1, 1, 1, 126, 1, 2, 2, 2, 1, 2, 1, 1, 2]","[2018-01-15, 2018-02-04, 2018-02-06, 2018-02-1...",1.0,1.00,5.0,1.00,2.500,34.556717,2.500
59,63,"[1, 1, 83, 14, 1, 1, 100, 22, 15]","[2018-01-19, 2018-01-27, 2018-02-17, 2018-03-0...",14.0,21.00,98.0,85.40,142.100,37.921337,98.000
60,64,"[1, 1, 1, 1, 1, 1]","[2018-02-08, 2018-02-19, 2018-03-16, 2018-05-0...",1.0,0.00,1.0,0.00,1.000,0.000000,1.000
61,65,"[1, 2, 1, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1]","[2018-01-03, 2018-01-13, 2018-02-19, 2018-03-0...",1.0,1.00,5.0,1.00,2.500,0.513553,NaN
62,66,"[1, 1, 1, 1, 20, 1, 2]","[2018-01-19, 2018-01-27, 2018-02-06, 2018-02-0...",1.0,0.50,3.0,8.20,13.300,7.128080,13.300
63,67,"[1, 1, 1, 60, 30, 1, 1, 25, 1]","[2018-01-10, 2018-02-17, 2018-03-15, 2018-03-2...",1.0,24.00,97.0,35.00,53.500,20.929113,53.500
64,68,"[1, 1, 1, 1, 1, 1]","[2018-01-13, 2018-01-17, 2018-02-19, 2018-05-0...",1.0,0.00,1.0,0.00,1.000,0.000000,1.000
65,69,"[1, 364, 2, 8, 4, 84, 1]","[2018-01-12, 2018-01-29, 2018-01-31, 2018-02-1...",4.0,44.50,182.0,194.50,295.750,134.710448,295.750
66,70,[1],[2018-05-03],1.0,0.00,1.0,0.00,1.000,0.000000,1.000
67,71,"[1, 1]","[2018-03-16, 2018-05-04]",1.0,0.00,1.0,0.00,1.000,0.000000,1.000
68,72,"[1, 1, 1, 1, 1, 1, 1, 1]","[2018-01-10, 2018-02-17, 2018-03-19, 2018-03-2...",1.0,0.00,1.0,0.00,1.000,0.000000,1.000
69,73,"[1, 236, 2, 1, 1]","[2018-03-15, 2018-04-17, 2018-04-18, 2018-04-2...",1.0,1.00,5.0,141.40,213.100,104.984285,213.100
70,74,"[1, 1, 1, 1, 1, 166, 1, 1]","[2018-01-25, 2018-02-15, 2018-02-23, 2018-03-1...",1.0,0.00,1.0,49.50,75.250,58.336309,75.250
71,75,"[129, 66, 1, 1, 1, 51, 45, 1, 1, 20, 1, 1, 51,...","[2018-01-06, 2018-01-10, 2018-01-13, 2018-01-1...",1.0,19.00,77.0,50.00,76.000,31.539172,76.000
72,76,[1],[2018-02-11],1.0,0.00,1.0,0.00,1.000,0.000000,1.000
73,77,"[9, 1, 1, 2, 1, 1, 1, 5]","[2018-01-09, 2018-03-02, 2018-03-23, 2018-04-0...",1.0,1.75,8.0,5.20,8.800,2.924649,8.800
74,78,"[1, 53, 1, 1, 1, 43, 1]","[2018-02-23, 2018-03-15, 2018-03-17, 2018-03-1...",1.0,21.00,85.0,46.00,70.000,23.114621,85.000
75,80,[1],[2018-03-04],1.0,0.00,1.0,0.00,1.000,0.000000,1.000
76,81,"[187, 2, 36, 1, 1, 1]","[2018-02-13, 2018-03-20, 2018-03-21, 2018-03-2...",1.5,26.50,107.5,110.50,167.250,74.307469,167.250
77,82,"[1, 1]","[2018-01-18, 2018-03-02]",1.0,0.00,1.0,0.00,1.000,0.000000,1.000
78,83,"[4, 1, 1, 64, 1, 1, 15, 1, 4, 2, 1, 44, 1, 1, 1]","[2018-01-01, 2018-01-25, 2018-02-18, 2018-02-1...",1.0,3.00,13.0,31.40,48.100,18.818178,48.100
79,84,"[20, 1, 1, 1, 20, 2]","[2018-03-20, 2018-03-21, 2018-03-29, 2018-03-3...",1.5,14.50,59.5,19.00,30.000,9.690201,NaN
80,85,"[1, 1, 10, 1]","[2018-01-24, 2018-01-25, 2018-05-27, 2018-05-30]",1.0,2.25,10.0,6.30,10.450,4.500000,NaN
81,86,"[45, 1, 141, 1, 40, 1, 29, 10, 20, 1, 1, 125, ...","[2018-01-15, 2018-01-27, 2018-02-12, 2018-02-1...",10.0,33.50,144.0,92.00,148.000,44.784989,144.000
82,87,"[2, 2, 1, 1, 1, 674, 1, 1, 2, 1, 1, 2, 1, 1, 1...","[2018-01-05, 2018-01-08, 2018-01-09, 2018-01-3...",1.0,1.00,5.0,18.80,29.200,153.597655,29.200
83,88,"[31, 9, 1, 11, 13, 3, 4, 2, 1, 4, 4, 2, 4]","[2018-01-26, 2018-01-27, 2018-01-30, 2018-03-0...",4.0,7.00,32.0,10.60,19.900,8.193963,19.900
84,89,"[5, 5, 5, 5, 1, 1]","[2018-01-05, 2018-01-25, 2018-02-07, 2018-02-2...",5.0,3.00,17.0,3.00,9.500,2.065591,NaN
85,90,"[1, 1, 2, 1, 1, 1]","[2018-01-11, 2018-01-18, 2018-02-14, 2018-04-1...",1.0,0.00,1.0,0.50,1.750,0.408248,1.750
86,91,"[1, 1, 1]","[2018-01-15, 2018-05-02, 2018-05-25]",1.0,0.00,1.0,0.00,1.000,0.000000,1.000
87,92,"[51, 1, 1, 1, 1, 120, 1, 1, 35, 1, 1, 1, 1, 1,...","[2018-01-05, 2018-01-09, 2018-01-11, 2018-01-1...",1.0,0.00,1.0,42.00,64.000,31.876258,64.000
88,93,[8],[2018-03-13],8.0,0.00,8.0,0.00,8.000,0.000000,8.000
89,94,"[21, 6, 1, 7, 5, 1, 1]","[2018-01-23, 2018-02-12, 2018-02-14, 2018-03-0...",5.0,5.50,27.0,11.60,22.400,7.094599,NaN
90,95,"[1, 2, 114, 99, 2]","[2018-01-13, 2018-02-18, 2018-02-19, 2018-02-2...",2.0,97.00,390.0,106.00,161.000,57.665414,390.000
91,96,"[1, 2, 1, 1, 1, 1, 1, 1, 3, 1]","[2018-01-17, 2018-02-04, 2018-02-13, 2018-02-2...",1.0,0.00,1.0,1.10,2.650,0.674949,2.650
92,97,[1],[2018-03-16],1.0,0.00,1.0,0.00,1.000,0.000000,1.000
93,98,"[1, 52, 1, 143, 1, 1, 1]","[2018-02-17, 2018-03-07, 2018-03-09, 2018-03-1...",1.0,25.50,103.0,87.40,132.100,53.919252,132.100
94,99,"[1, 9, 5, 1, 3, 2, 2]","[2018-01-14, 2018-02-17, 2018-03-06, 2018-03-1...",2.0,2.50,12.0,5.10,9.650,2.870208,NaN
95,100,"[93, 1, 2, 71]","[2018-03-23, 2018-03-26, 2018-03-29, 2018-05-01]",36.5,74.75,335.5,84.65,163.475,47.338321,335.500
96,101,"[117, 1, 1, 1, 1, 3, 1, 1, 1, 1, 2, 1, 1, 1, 1...","[2018-02-08, 2018-02-09, 2018-02-11, 2018-02-1...",1.0,0.00,1.0,1.40,3.100,28.093594,3.100
97,102,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[2018-02-06, 2018-02-08, 2018-02-19, 2018-03-0...",1.0,0.00,1.0,0.00,1.000,0.000000,1.000
98,103,"[151, 1, 1, 1]","[2018-02-08, 2018-02-27, 2018-05-06, 2018-05-29]",1.0,37.50,151.0,105.00,158.500,75.000000,151.000
99,104,"[1, 170]","[2018-02-19, 2018-05-16]",85.5,84.50,423.5,109.85,250.275,119.501046,423.500

In [125]:
daily_orders_item[daily_orders_item['itemID'] == 5010]

,itemID,list_daily_orders,list_ordering_days,median,iqr_75,upper_bound_75,iqr_90_,upper_bound_90_,std,upper_bound
4133,5010,"[1017, 2, 3, 3, 657, 1]","[2018-04-30, 2018-05-04, 2018-05-06, 2018-05-0...",3.0,491.25,1968.0,834.75,1255.125,445.84291,1968.0

In [70]:
df_timeseries = pd.merge(df_timeseries, daily_orders_item['itemID upper_bound'.split()], on='itemID')

In [72]:
df_timeseries['is_promotion'] = df_timeseries.apply(lambda row: 1 if row['total_orders'] > row['upper_bound'] else 0, axis=1)

In [75]:
df_timeseries = df_timeseries[df_timeseries['is_promotion'] == 1]

In [85]:
infos['promotion_train'] = infos.apply(lambda row: list(df_timeseries[df_timeseries['itemID'] == row['itemID']]['date']), axis=1)

In [81]:
items.head()

,itemID,brand,manufacturer,customerRating,category1,category2,category3,recommendedRetailPrice,promotion_train
0,1,0,1,4.38,1,1,1,8.84,"[2018-01-29, 2018-04-23]"
1,2,0,2,3.00,1,2,1,16.92,[]
2,3,0,3,5.00,1,3,1,15.89,"[2018-01-18, 2018-02-08]"
3,4,0,2,4.44,1,2,1,40.17,[2018-04-22]
4,5,0,2,2.33,1,1,1,17.04,[2018-04-17]

In [88]:
infos['promotion_train'] = infos.apply(lambda row: np.nan if len(row['promotion_train']) == 0 else row['promotion_train'], axis=1)

In [89]:
infos.head()

   itemID  simulationPrice promotion           promotion_train
0       1             3.43       NaN  [2018-01-29, 2018-04-23]
1       2             9.15       NaN                       NaN
2       3            14.04       NaN  [2018-01-18, 2018-02-08]
3       4            14.10       NaN              [2018-04-22]
4       5             7.48       NaN              [2018-04-17]

In [124]:
df_timeseries[df_timeseries['itemID'] == 5010]

Empty DataFrame
Columns: [itemID, date, total_orders, upper_bound, is_promotion]
Index: []

In [93]:
test_orders['daytime'] = pd.to_datetime(test_orders["time"])

# Date
test_orders["date"] = pd.DatetimeIndex(test_orders['daytime']).date

In [94]:
aggregated_orders = test_orders.groupby(['itemID', 'date']).agg(total_orders=pd.NamedAgg(column='order', aggfunc=sum)).reset_index()

In [96]:
aggregated_orders = pd.merge(aggregated_orders, daily_orders_item['itemID upper_bound'.split()], on='itemID')
aggregated_orders['is_promotion'] = aggregated_orders.apply(lambda row: 1 if row['total_orders'] > row['upper_bound'] else 0, axis=1)

In [113]:
infos['promotion_train'] = infos.apply(lambda row: list(df_timeseries[df_timeseries['itemID'] == row['itemID']]['date']), axis=1)

In [114]:
infos['promotion_test'] = infos.apply(lambda row: list(aggregated_orders[aggregated_orders['itemID'] == row['itemID']]['date']), axis=1)

In [108]:
infos['promotion_train'] = infos.apply(lambda row: np.nan if len(row['promotion_train']) == 0 else row['promotion_train'], axis=1)

In [106]:
infos['promotion_test'] = infos.apply(lambda row: np.nan if len(row['promotion_test']) == 0 else row['promotion_test'], axis=1)

In [122]:
infos.head()

,index,itemID,simulationPrice,promotion,promotion_train,promotion_test,predicted_promotion
0,0,1,3.43,NaN,"[2018-01-29, 2018-04-23]",[],2018-01-29
1,0,1,3.43,NaN,"[2018-01-29, 2018-04-23]",[],2018-04-23
2,1,2,9.15,NaN,[],[],NaN
3,2,3,14.04,NaN,"[2018-01-18, 2018-02-08]",[2018-06-06],2018-01-18
4,2,3,14.04,NaN,"[2018-01-18, 2018-02-08]",[2018-06-06],2018-02-08

In [116]:
infos['predicted_promotion'] = infos.apply(lambda row: row['promotion_train'] + row['promotion_test'], axis=1)

In [121]:
infos = infos.explode('predicted_promotion').reset_index()

In [123]:
infos.to_csv(f'{data_path}infos_promotions.csv', sep='|', index=False)